@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&family=MonteCarlo&family=Oleo+Script+Swash+Caps&family=Style+Script&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background: radial-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.header .row {
    margin-top: 70px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 5px;

}


.navbar {
    /*en üstteki navbarı kodlayalım*/
    display: flex;
    align-items: center;
    padding: 20px;

}



h4 {
    /*mordorr ticarete hoşgeldiniz*/
    color: rgb(255, 255, 255);

    font-size: 25px;
    font-weight: lighter;
    animation: glow 10s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

nav {
    /*direkt nav tagini */

    flex: 1;
    text-align: right;

}

nav ul {
    /*genel ul */
    display: inline-block;
    list-style-type: none;

}

nav ul li {



    display: inline-block;
    margin: 20px;

}

a {
    /*anasayfa ürünlerimiz filan*/
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

p {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}




.row {
    /*ana urukh hai fotosunun ve yazılarının içindeyiz*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2 {
    /*col 2 için genel ayarlar*/
    flex-basis: 35%;
    /*give mordor yazısıyla fotoyu ortalı şekilde yatayladı*/
    min-width: 300px;
}

.col-2 img {
    /*ana uruk hai fotosu içindeyiz*/
    max-width: 100%;
    /*uruk hai küçüldü 100 yapınca*/
    padding: 50px 0;
}

.col-2 h1 {
    /*ortadünya yazısı */
    font-size: 50px;
    line-height: 60px;
    margin: 15px 0;
}

.btn {
    /*balçıktan gelen cazibe */
    display: inline-block;
    background: #9e0202;
    color: #fff;
    font-size: 25px;
    padding: 5px;
    margin-left: -5px;
    border-radius: 30px;
    transition: 0.3s;


}

.btn:hover {
    background: rgb(207, 99, 27);
    box-shadow: 0 0 15px 15px rgb(250, 214, 161);
}



/*ikinci sayfa kategoriler armor-silahlar-kalkanlar*/


.categories {

    background: radial-gradient(rgb(255, 255, 255), rgb(0, 0, 0));

}

.small-container {


    padding-left: 25px;
    padding-right: 25px;

}

.col-3 {
    flex-basis: 20%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    display: flex;

}

.col-3 p {
    color: #fff;
    text-align: center;
}

.col-3 img {
    width: 100%;
    padding: 20px;
    filter: grayscale(1);

}

.col-3 h4 {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    display: flex;

}

.col-3 img:hover {
    transform: translateY(-15px);

    filter: grayscale(0);
    filter: contrast(1.5);
    filter: brightness(1.5);
    transition: transform 0.7s;

}




/*COL-4 E GEÇTİK */

.small-container h4 p {
    color: #fff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 0 15px 15px rgb(221, 94, 55);

}

.col-4 {
    flex-basis: 20%;
    max-width: 100%;

}

.col-4 img {
    width: 100%;
    padding: 20px;
    transition: transform 0.7s;

}

.col-4 p {
    color: #fff;
}

.ratings {
    color: rgb(255, 174, 0);
}

.col-4 img:hover {
    transform: translateX(-15px);
    filter: contrast(1.5);
    filter: brightness(1.5);
    cursor: pointer;

}


/*testimonial yani sizden gelenler*/

.testimonial {
    padding: 30px;
    background: radial-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.testimonial h4 {
    text-align: center;
    color: #fff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 0 15px 15px rgb(221, 94, 55);

}

.testimonial .col-3 {
    text-align: center;
    color: #fff;
}

.testimonial .col-3 p {
    color: #fff;
}

.testimonial img {
    padding: 10px;
}

.ratings {
    transition: transform 0.8s;
    padding: 10px;
    color: rgb(235, 152, 0);
}

.ratings:hover {
    transform: translateY(-10px);
    color: yellow;

}

/*sponsorlar*/

.sponsorlar {
    width: 100%;
    text-align: center;
    color: #fff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    background: radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));

}




/*footer*/

.footer {
    color: white;
    font-size: 16px;
    padding: 50px 0 20px;
    text-align: center;
    background: radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));

}

.footer p {
    color: white;
    text-align: center;

}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.app-logo {
    margin-top: 20px;

}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: rgb(205, 50, 50);
    height: 2px;
    margin: 40px;
}

.haklar {
    font-size: 18px;
}

/*--------media query for menu RESPONSİVE E GEÇTİK---*/

.menu-icon {
    margin-left: 20px;
    display: none;
    /*kaybolma işini yapıyor*/
}



@media only screen and (max-width: 800px) {
    nav ul{
        text-align: right;
        position:absolute;
        margin-top: 30px;
        left: 0;
        background:rgb(79, 91, 102);
        width: 100%;
        overflow:hidden; /*menu tuşuna basınca menu girsin çıksın*/
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin-righT: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .menu-icon {
        display: block;
        /*üstte menu iconda display none burda block verdik kaybolsun diye */
        cursor: pointer;
        /*üstüne gelince parmak*/
    }

}

/*600 den küçük olursa */

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis:100%;

    }
}